@model SkillSet
@{
    ViewData["Title"] = "CreateSkillSet";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>SkillSets</h2>
            <div @*asp-validation-summary="All"*@ class="text-danger"></div>
            <form asp-area="admin" asp-controller="about" asp-action="CreateSkillSet" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" asp-for="@Model.Name">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="persentage">Persentage</label>
                    <input type="number" class="form-control" id="persentage" asp-for="@Model.Persentage">
                    <span asp-validation-for="@Model.Persentage" class="text-danger"></span>

                </div>


                <button type="submit" class="btn btn-primary">Add</button>
            </form>


        </div>

    </div>
</div>



